#calendario {
    margin-left: 0%;
}

#flotante {
    float:right;
    width: 200px;
    border: 1px solid blue;
    padding: 10px;
    margin: 5%;
}

#flotante img {
    padding-left: 20%;
}

h4 {
    text-decoration: underline;
}

section {
    margin-top: 5%;
}

footer {
    clear: both;
}

h3 {
    text-decoration: underline;    
}

aside {
    font-family: 'Ribeye Marrow', cursive;
}