#allLists {
    display: table;
    border-spacing: 50px;
}

.list {
    display: table-row;
    border-spacing: 10px;
}

p {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 0px 0px 10px;
}

img:not(header img) {
    width: 200px;
    height: 200px;
}

ul:not(nav ul) {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px 0px 0px;
}

h3 {
    margin-top: 80px;
    font-size: 1.3em;
}
